<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Share
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Share</ion-title>
    </ion-toolbar>
  </ion-header>
  <p [hidden]="!downloading">Downloading....</p>
  <div id="container">
    <ion-button [disabled]="downloading" (click)="share(largeFile, true)">Share Large PDF</ion-button>
    <br />
    <ion-button [disabled]="downloading" (click)="share(smallFile, true)">Share Small PDF (Cache Folder)</ion-button>
    <br />
    <ion-button [disabled]="downloading" (click)="share(smallFile, false)">Share Small PDF (Data Folder)</ion-button>
    <br />
    <ion-button [disabled]="downloading" (click)="download(largeFile)">Download Large PDF</ion-button>
  </div>
</ion-content>